@import "fonts";
@import "variables";
@import "mixins";

.footer {
  padding-top: 50px;

  .header__product {
    top: 45%;
    width: 460px;
  }
}

.footer {
  .header {
    margin-bottom: 0;
    padding-top: 370px;
    position: relative;
    background-image: url(../images/footer/backgr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  .header__content {
    margin-bottom: 40px;
  }

  .header__head {
    margin-bottom: 40px;
  }
}

.footer__copyright {
  @include smallText($fs: 12px, $clr:$copyrightText);
  text-align: center;
}

.footer__inn {
  @include smallText($fs: 12px, $clr:$copyrightText);
  text-align: center;
}




//======================== media queries ========================
@media(max-width: 992px) {
  .footer {
    .header__product {
      top: 34%;
      width: 400px;
    }
  }

}



@media(max-width: 768px) {
  .footer {
    .header {
      margin-bottom: 0;
      padding-top: 250px;
    }
  }

  .footer {
    .header__product {
      top: 28%;
      width: 400px;
    }
  }
}



@media(max-width: 544px) {
  .footer {
    .header__product {
      top: 33%;
      width: 280px;
    }

    .content-item__text {
      margin-bottom: 280px;
    }
  }
}