@import "fonts";
@import "variables";
@import "mixins";

.header {
  @include paddingSections;
  position: relative;
  z-index: 1;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/header/woman.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 115%;
    z-index: -1;
    display: block;
  }
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/header/vector.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 125%;
    z-index: -2;
    display: block;
  }
}
.header__product{
  position: absolute;
  width: 550px;
  bottom: -17%;
}

.header__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.head-item__phone {
  @include middleText;
  color: $redText;
  margin-right: 20px;
  &:hover{
    color: $redAccent;
  }
}
.head-item__btn {
  @include buttonCall;
}
.header__content{
  display: flex;
  justify-content: space-between;
}
.content-item__title{
  font-family: 'Pridi-Bold', sans-serif;
  font-size: 64px;
  line-height: 70px;
  color: #fff;
  max-width: 470px;
  width: 100%;
  margin-bottom: 50px;
  span{
    color: $redText;
  }
}
.content-item__text{
  @include standartText($clr:$whiteText);
  max-width: 320px;
  width: 100%;
}
.content-item__inner {
  max-width: 430px;
  width: 100%;
  border-radius: 15px;
  box-shadow: $boxShadow;
  padding: 40px;
  text-align: center;
  background: #fff;
}
.item__inner-title {
  @include middleText($fs: 32px, $clr:$darkText);
  margin-bottom: 10px;
}
.item__inner-subtitle {
  @include standartText($fontFm: 'OpenSans-Regular', $fs: 18px, $lh: 25px);
  margin-bottom: 25px;
}
.holder__inner-box {
  width: 100%;
  box-shadow: $boxShadow;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.holder-box__item {
  padding: 17px;
  background: #fff;
  border-radius: 15px 0 0 15px;
  &:nth-child(2){
    background: $redText;
    border-radius: 0 15px 15px 0;
    .box__item-title,
    .box__item-price{
      color: $whiteText;
    }
  }
}
.box__item-title {
  @include standartText($fontFm: 'OpenSans-Regular', $fs: 18px, $lh: 25px);
  margin-bottom: 5px;
}
.box__item-price {
  @include middleText($fontFm: 'OpenSans-Bold', $fs: 36px, $clr:$darkText)
}

.form__input {
  width: 100%;
  height: 48px;
  padding: 20px;
  border-radius: 30px;
  border: 2px solid #B9BABB;
  margin-bottom: 10px;
  &::placeholder{
    text-align: center;
  }
}
.form__btn {
  @include button;
  width: 100%;
  margin-bottom: 15px;
  display: block;
}
.form__label {
  @include smallText($fontFm: 'OpenSans-Regular', $fs: 12px, $lh: 18px, $clr:$darkText);
  text-align: left;
}
