@import "fonts";
@import "variables";
@import "mixins";



.reviews {
  @include paddingSections;

  .holder__title {
    margin-bottom: 50px;
  }
}


.reviews__inner {
  display: flex;
  justify-content: space-between;
}

.reviews__item {
  max-width: 530px;
  margin: 20px 35px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: $boxShadow;
  text-align: center;

  img {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.reviews__item-name {
  @include middleText($clr:$darkText);
  margin-bottom: 40px;
}

.reviews__item-text {
  line-height: 22px;
  padding: 0 10px;
}




//======================== media queries ========================
@media(max-width: 768px) {
  .reviews__item-name {
    @include middleText($fs: 18px, $lh: 20px, $clr:$darkText);
    margin-bottom: 30px;
  }

  .reviews__item-text {
    line-height: 22px;
    font-size: 14px;
    padding: 0 10px;
  }

  .reviews__item {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
}



@media(max-width: 544px) {
  .reviews__item {
    max-width: 280px;
    padding: 20px 10px;
  }

  .reviews {
    padding-bottom: 30px;
  }
}